body{
margin:0;
font-family:Arial;
background:#0A1628;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px 20px;
}

.btn{
background:#1452CC;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
color:white;
}

.services{
padding:80px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.card{
background:#1452CC;
padding:40px;
border-radius:10px;
}

footer{
text-align:center;
padding:40px;
background:#020617;
}